@font-face {
  font-family: "Poppins";
  src:
    url("fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url("fonts/Poppins-Regular.woff2") format("woff2"),
    url("fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url("fonts/Poppins-Light.woff2") format("woff2"),
    url("fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url("fonts/Poppins-Bold.woff2") format("woff2"),
    url("fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src:
    url("fonts/Poppins-Medium.woff2") format("woff2"),
    url("fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";
@import "tw-animate-css";

@tailwind utilities;

:root {
  --gradient: radial-gradient(circle, #e5e5e5 0%, #fff 100%);
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  box-sizing: border-box;
  background-color: var(--color-black);
  color: var(--color-blue-50);
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-display: swap;
  cursor: url(/images/myCursor.png), grab;
}

section {
  width: 100dvw;
  display: flex;
}

span {
  font-family: "Poppins";
}

@theme {
  --font-sans: "Poppins", sans-serif;
  --color-white-50: #d9ecff;
  --color-black: #000319;
  --color-black-50: #1c1c21;
  --color-black-100: #0e0e10;
  --color-black-200: #282732;
  --color-blue-50: #d2e2f5;
  --color-blue-100: #2d2d38;
  --color-midnightBlue: #1f2243;
  --color-gold-50: #d5892c;
  --color-slateBlue: #6971a2;
}

/* section hero bg-animated gradient - START */

@theme inline {
  --animate-first: moveVertical 30s ease infinite;
  --animate-second: moveInCircle 20s reverse infinite;
  --animate-third: moveInCircle 40s linear infinite;
  --animate-fourth: moveHorizontal 40s ease infinite;
  --animate-fifth: moveInCircle 20s ease infinite;

  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }

    50% {
      transform: translateX(50%) translateY(10%);
    }

    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }

  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }

    50% {
      transform: translateY(50%);
    }

    100% {
      transform: translateY(-50%);
    }
  }
}

/* section hero bg-animated gradient - END */

@layer base {
  h1 {
    @apply font-medium z-20;
    font-size: min(6vw, 60px);
  }

  h2 {
    @apply font-semibold text-3xl md:text-5xl text-center text-pretty;
  }

  h3 {
    @apply font-medium md:text-[32px] text-3xl;
  }

  p {
    @apply text-base lg:text-xl font-light text-blue-50;
  }

  /* img {
    @apply max-w-full h-auto object-cover;
  } */
}

@layer utilities {
  .padding-x {
    @apply px-5 md:px-10;
  }

  .padding-x-lg {
    @apply px-5 md:px-20;
  }

  .section-padding {
    @apply px-5 md:px-10 xl:px-0 pt-25 md:pt-35;
  }

  .mt-responsive {
    @apply xl:mt-20 md:mt-0 mt-40;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }

  .baseBorder {
    @apply border border-solid border-slateBlue/[0.3]
   bg-linear-[103.4deg,#04071D_16.66%,#0C0E23_81.61%];
  }

  .baseBgBtn {
    @apply bg-linear-[90deg,#161A31_3.4%,#06091F_100%];
  }

  .actionBtn {
    @apply md:w-47.5 md:h-15 w-41.5 h-12 text-white rounded-full font-medium text-sm md:text-base whitespace-nowrap cursor-pointer bg-linear-[96.68deg,#3344F6_5.98%,#4A2486_87.41%];
  }
}

@layer components {
  /* General Grids */
  /* .grid-base {
    @apply grid grid-cols-1;
  }

  .grid-2-cols {
    @apply grid grid-cols-1 md:grid-cols-2 gap-6;
  }

  .grid-3-cols {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6;
  }

  .grid-3-cols-md-tight {
    @apply grid grid-cols-1 md:grid-cols-3 gap-5 md:gap-0;
  }

  .grid-4-cols {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-7;
  }

  .grid-12-cols {
    @apply grid grid-cols-1 xl:grid-cols-12 gap-10;
  } */

  /* section Hero - START */
  .hero-layout {
    @apply relative w-full h-[75%] flex items-center justify-center;
  }

  .hero-text {
    @apply flex flex-col justify-center text-wrap md:text-pretty font-semibold relative w-[90%] md:w-[66%];
  }

  span.colorUser {
    @apply inline font-semibold text-[100%] leading-[100%] bg-clip-text;
    background: radial-gradient(
      62.35% 83.7% at 57.87% 79.73%,
      #ff5cdd 0%,
      #507cff 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  /* section Hero - END */

  /* section NavBar - START */
  .navbar {
    @apply fixed w-[90vw] md:w-[60vw] xl:w-[30vw] left-1/2 -translate-x-1/2 top-4 md:top-8 z-60 inset-x-auto p-5 rounded-xl;

    nav.desktop {
      @apply relative  w-auto flex items-center justify-center flex-row;

      ul {
        @apply w-full text-center flex justify-around items-center whitespace-pre-wrap;

        li.group a {
          @apply relative block text-blue-50 text-sm md:text-base font-light transition duration-300 ease-in-out transform;
        }
        li a.active {
          @apply flex items-center gap-3 justify-center flex-col font-semibold;
        }
      }
    }
  }

  /* section NavBar - END */

  .app-showcase {
    @apply w-full mt-20 px-5 md:px-20 py-10 md:py-20 flex items-center justify-center;

    .showcaselayout {
      @apply flex xl:flex-row flex-col gap-10 justify-between;
    }

    .first-project-wrapper {
      @apply h-full flex flex-col justify-between xl:w-[60%];

      .text-content {
        @apply space-y-5 mt-5;

        .badges {
          @apply flex gap-2 mb-4;
        }

        h2 {
          @apply text-2xl md:text-3xl lg:text-4xl font-bold;
        }
      }
    }

    .project-list-wrapper {
      @apply flex md:flex-row flex-col xl:flex-col gap-10 xl:w-[40%];

      .image-wrapper {
        @apply xl:h-[37vh] md:h-52 lg:h-72 h-64 relative rounded-xl xl:px-5 2xl:px-12 py-0;
      }

      img {
        @apply size-full object-contain rounded-xl;
      }

      h2 {
        @apply text-lg md:text-xl lg:text-2xl font-semibold mt-5;
      }
    }
  }

  /* .cta-wrapper {
    @apply relative z-20 cursor-pointer;
  } */

  /* Section Progects - START */
  .bg-prod-light {
    @apply relative size-full bg-no-repeat bg-cover bg-center;
  }

  .bg-prod-dark {
    background: linear-gradient(103.4deg, #04071d 16.66%, #0c0e23 81.61%);
  }

  .bg-prod1 {
    background:
      radial-gradient(
        65% 109% at 2.5% 0%,
        #0b4256 0%,
        rgba(11, 66, 86, 0) 100%
      ),
      radial-gradient(
        58% 98% at 100% 0%,
        #351076 0%,
        rgba(53, 16, 118, 0) 100%
      ),
      radial-gradient(
        81% 135% at 81.5% 100%,
        #122568 0%,
        rgba(18, 37, 104, 0) 100%
      ),
      #13162d;
  }

  .bg-prod2 {
    background:
      radial-gradient(
        70% 117% at 74% 100%,
        #0b4256 0%,
        rgba(11, 66, 86, 0) 100%
      ),
      radial-gradient(56% 95% at 61% 0%, #351076 0%, rgba(53, 16, 118, 0) 100%),
      radial-gradient(
        63% 105% at 0% 100%,
        #122568 0%,
        rgba(18, 37, 104, 0) 100%
      ),
      #13162d;
  }

  .mobile-frame {
    @apply relative size-full transition duration-700 ease-in-out mx-[-33px] object-cover;
  }
  /* Section Progects - END */

  /* Section Testimonials | Carusel - START */
  .bg-card {
    /* rounded-[1.2rem] */
    @apply shadow-[0px_1rem_1.5rem_-0.9rem_#000000e1] p-px rounded-3xl w-3/4 md:w-2/4

     border border-solid border-slateBlue/[0.3]
   bg-linear-[103.4deg,#04071D_16.66%,#0C0E23_81.61%];

    /* background: linear-gradient(135deg, #fffffff5, #3a4b8a, #ffffff98); */
  }

  .card-gradient {
    /* rounded-[1.2rem] */
    @apply p-6 rounded-3xl
    bg-linear-[-90deg,#161A31_3.4%,#06091F_100%];

    /* background: linear-gradient(135deg, #0d1120 0%, #3a4b8a 43%, #0d1120 100%); */
  }

  .btn-arrow {
    @apply size-10.5 rounded-full bg-[#1F2243]  active:bg-[#253563] hover:bg-[#253563]/80
    
    hidden md:flex justify-center items-center;
    /* active:bg-[#253563] */
  }
  /* Section Testimonials | Carusel - END */

  /* ExperienceSection - START */
  .glow {
    @apply pointer-events-none absolute size-full -translate-x-2/4 -translate-y-2/4 blur-[10px] saturate-[200] left-2/4 top-2/4;
  }

  .exp-card-wrapper {
    @apply flex flex-col-reverse xl:flex-row justify-between items-end xl:items-start;
    /* xl:gap-20 gap-10  xl:gap-5 gap-2.5 */
  }

  .timeline-wrapper {
    /* @apply h-full flex xl:justify-center; 
    xl:left-[35.5vw] md:left-10 left-0
    */
    @apply absolute top-0 xl:left-[47vw] left-10 h-full flex justify-center;
  }

  .timeline {
    @apply absolute z-30 h-[105%] -top-8 w-21  bg-black;
    /* w-14 md:w-28 z-30 h-[110%] -top-10*/
  }

  .gradient-line {
    @apply absolute w-1 h-full top-10;
    background: linear-gradient(
      0deg,
      rgba(52, 206, 180, 0) 0%,
      #658a3b 31.89%,
      #e6bd37 62.83%,
      #4b4d50 97.33%
    );
  }

  .timeline-logo {
    @apply size-20 flex-none rounded-full flex justify-center items-center xl:translate-x-10.5;
    /* md:-translate-y-47 md:-translate-x-20 */
    /*  md:-translate-y-7 md:size-20*/
  }
  /* ExperienceSection - END */

  /* Approach - START */
  .approach-text {
    @apply text-center opacity-100 relative transition duration-200 ease-in-out transform -translate-y-2;
  }
  /* Approach - END */

  .gradient-edge {
    @apply w-36 h-full absolute bottom-0 z-20;
  }

  .tech-card-animated-bg {
    @apply absolute left-0 bottom-[-100%] w-full h-full bg-[#2D3240] group-hover:bottom-0 transition-all duration-700;
  }

  .tech-card-content {
    @apply flex flex-col md:justify-center items-center xl:gap-5 xl:h-[50vh] overflow-hidden relative z-10 group-hover:cursor-grab;

    & p {
      @apply text-lg 2xl:text-2xl pb-5 xl:pb-0 font-semibold text-white-50 text-center;
    }
  }

  .tech-grid {
    @apply grid xl:grid-cols-5 md:grid-cols-3 grid-cols-1 xl:gap-16 md:gap-10 gap-5 mt-16;
  }

  .tech-icon-wrapper {
    @apply flex justify-center items-center w-52 h-60 relative;
  }

  /* Footer - START */

  form {
    label {
      @apply block text-white-50 mb-2;
    }

    input,
    textarea {
      @apply w-full p-4 md:text-base text-sm rounded-md 
      border border-solid border-gold-50 bg-blue-100 focus:outline-none focus:border-blue-50/50;
    }

    input:valid,
    textarea:valid,
    input:valid:-webkit-autofill {
      @apply shadow-[inset_0_60px_bg-blue-100] rounded-md 
  border-slateBlue/[0.9];
      -webkit-box-shadow: 0 60px var(--color-blue-100) inset;
      -webkit-text-fill-color: var(--color-white-50);
    }

    /* a {
      @apply w-full py-4 bg-white text-black font-semibold rounded-md flex justify-center items-center gap-2;

      img {
        @apply inline-block;
      }
    } */
  }
 /* Footer - END */

  /* Contact / MODAL - START */

  .cta-button {
    @apply px-4 py-4 rounded-lg bg-black-200 flex justify-center items-center relative cursor-pointer overflow-hidden;

    .bg-circle {
      @apply absolute -right-10 origin-center top-1/2 -translate-y-1/2 size-[120%] group-hover:size-10 group-hover:right-10 rounded-full bg-white-50 transition-all duration-500;
    }

    .text {
      @apply uppercase md:text-lg text-black transition-all duration-500 group-hover:text-blue-50 group-hover:-translate-x-5 xl:translate-x-0 -translate-x-5;
    }

    .arrow-wrapper {
      @apply group-hover:bg-white-50 size-10 rounded-full absolute right-10 top-1/2 -translate-y-1/2 flex justify-center items-center overflow-hidden;

      img {
        @apply size-5 xl:-translate-y-32 translate-y-0 animate-bounce group-hover:translate-y-0 transition-all duration-500;
      }
    }
  }
  /* Contact / MODAL - END */

  /* END COMPONENTS */
}

/* Hero text slider starts */
/* .slide {
  display: inline-block;
  flex-direction: column;
  transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  animation: wordSlider 21s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
}

@keyframes wordSlider {
  0% {
    transform: translateY(0.5%);
  }

  12.5% {
    transform: translateY(-12.5%);
  }

  25% {
    transform: translateY(-25%);
  }

  37.5% {
    transform: translateY(-37.5%);
  }

  50% {
    transform: translateY(-50%);
  }

  62.5% {
    transform: translateY(-62.5%);
  }

  75% {
    transform: translateY(-75%);
  }

  87.5% {
    transform: translateY(-87.5%);
  }
} */
/* Hero Text slider ends */

/* LogoShowcase start */
/* .gradient-edge:nth-of-type(1) {
  left: 0;
  background: #000000;
  background: linear-gradient(
    90deg,
    #000319 0%,
    rgba(0, 3, 25, 0) 100%
  );
}

.gradient-edge:nth-of-type(2) {
  right: 0;
  background: linear-gradient(
    -90deg,
    #000319 0%,
    #00031900 100%
  );
} */

/* marquee */
/* .marquee {
  width: 100dvw;
  overflow: hidden;
  position: relative;
} */

/* .marquee-box {
  display: flex;
  align-items: center;
  width: 200%;
  height: 100%;
  position: absolute;
  overflow: hidden; */
  /* animation: marquee 40s linear infinite; */
  /* animation: 10s linear infinite marquee;
} */

/* .marquee-item {
  float: left;
}

@keyframes marquee {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
} */

/* @theme inline {
  --animate-marquee-vertical: marquee-vertical 40s linear infinite;

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
} */


@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
 
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}



/* marquee end */
/* LogoShowcase end  */

/* ExperienceSection / GlowCard - Start */
.card {
  --start: 0;
  position: relative;
  z-index: 40;
  overflow: hidden;
  transition: border-color 1s ease-in-out;
}

.card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  border: 2px solid transparent;
  background: var(--gradient);
  background-attachment: fixed;
  mask:
    linear-gradient(#0000, #0000),
    conic-gradient(
      from calc((var(--start) - 15) * 1deg),
      #ffffff1f 0deg,
      white,
      #ffffff00 100deg
    );
  mask-composite: intersect;
  mask-clip: padding-box, border-box;
  opacity: 0;
  transition: 0.5s ease;
}

.card:hover::before {
  opacity: 1;
}
/* ExperienceSection / GlowCard - END */
